body {
  height: 100vh;
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 15px;
}
.container {
  height: 30%;
}

video{
  width: fit-content !important;
  height: auto !important;
}

.empty{
  color: rgb(39, 39, 39);
}